.tasks-card
  padding: 2rem
  background-color: #fff
  margin-top: 3rem
  margin-left: 1rem
  margin-right: 1rem
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.1)

  .cross-row
    text-align: right
    margin-right: -1rem
    margin-top: -1rem
    margin-bottom: 0.5rem
    .destroy-item
      font-size: 1rem
      .icon-cross
        font-size: 1rem

  .list-title-row
    border-bottom: solid 1px black
    display: flex
    a
      margin: auto
      font-size: 2rem
  .tasks-list
    margin-top: 20px
    .task
      font-family: $font-family-hand
      font-size: 2rem
      margin-bottom: 1rem

      .label
        margin-left: 1.5rem

      .check-box
        font-size: 1.7rem

      .icon-box
        &:hover
          &:before
            content: "\63"

      &.new-task
        input
          height: 2rem
          font-family: $font-family-hand
