h2
  font-family: $font-family-date
  font-size: $font-h1-size
  text-align: right

h3
  font-family: $font-family-general
  font-size: $font-h2-size

body
  background-color: $grey-lighten-5
  font-family: $font-family-general
  color: $grey-darken-4

a
  -moz-transition:    all 700ms ease
  -webkit-transition: all 700ms ease
  -o-transition:      all 700ms ease
  -ms-transition:     all 700ms ease
  transition: all 700ms ease

  &:hover
    text-decoration: none

.container
  width: 90%
  margin-right: 9rem

hr
  margin: 3rem 0
