footer
  height: $header-footer-height
  width: 100%
  background-color: $grey-darken-4
  position: relative
  text-align: center
  .footer_wrapper
    position: absolute
    bottom: 1.5rem
    left: 0
    right: 0
    small
      font-size: 1.8rem
      color: $grey-lighten-5
    .icon-ruby
      color: $grey-lighten-5
      font-size: 2rem
      &:hover
        color: #f94040
      -moz-transition:    all 700ms ease
      -webkit-transition: all 700ms ease
      -o-transition:      all 700ms ease
      -ms-transition:     all 700ms ease
      transition: all 700ms ease
